<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Take a photo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">New picture</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-fab horizontal="center" vertical="bottom">
      <ion-button (click)="takePicture()">Tirar foto</ion-button>
      
      <ion-img src="guestPicture" alt=""></ion-img>
    </ion-fab>
  </div>
</ion-content>
